<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <!--<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/source/font-awesome-4.5.0/css/font-awesome.css}"
              href="../../static/css/source/font-awesome-4.5.0/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
              href="../../static/css/source/bootstrap-3.3.6-dist/css/bootstrap.css" />

        <!--<link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css" />-->

        <link rel="stylesheet" th:href="@{/css/slider.css}"
              href="../../static/css/slider.css" />
        <link rel="stylesheet" th:href="@{/css/mystyle.css}"
              href="../../static/css/mystyle.css" />
        <link rel="stylesheet" th:href="@{/css/contactstyle.css}"
              href="../../static/css/contactstyle.css" />
        <link rel="stylesheet" th:href="@{/css/reset.css}"
              href="../../static/css/reset.css" />
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <div class="allcontain">
        <div class="header">
            <ul class="logreg">
            </ul>
            <ul class="logreg">
                <li><a th:href="@{/home}">MAC 60-611 PROJECT</a></li>
            </ul>
            <ul class="logreg">
                <li><a th:href="@{www.facebook.ca}"><i class="fa fa-facebook"></i></a></li>
                <li><a th:href="@{www.twitter.ca}"><i class="fa fa-twitter"></i></a></li>
                <li><a th:href="@{www.google.ca}"><i class="fa fa-google-plus"></i></a></li>
                <li><a th:href="@{www.pinterest.ca}"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" th:href="@{/home}">
                    <img th:src="@{/img/logo/quiz.png}" src="/static/img/logo/quiz.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/home}">HOME</a> </li>
                <li class="active"><a th:href="@{/coursesearch}">COURSE</a></li>
                <li class="active"><a th:href="@{/course}">QUIZZES</a></li>
                <li class="active"><a th:href="@{#about}">ABOUT</a>
                </li>
                <li class="login">
                    <a class="log" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser != null}">
                        Login
                    </a>
                    <a class="log" th:href="@{/}" th:if="${#httpServletRequest.remoteUser != null}"
                       th:text="|Welcome: ${#httpServletRequest.remoteUser}|">
                    </a>
                </li>
                <li class="login">
                    <a class="log" th:href="@{/register}" th:unless="${#httpServletRequest.remoteUser != null}">Register</a>
                    <a class="log" th:href="@{/logout}" th:if="${#httpServletRequest.remoteUser != null}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>