<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <!--<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/source/font-awesome-4.5.0/css/font-awesome.css}"
              href="../../static/css/source/font-awesome-4.5.0/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
              href="../../static/css/source/bootstrap-3.3.6-dist/css/bootstrap.css" />

        <!--<link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css" />-->

        <link rel="stylesheet" th:href="@{/css/slider.css}"
              href="../../static/css/slider.css" />
        <link rel="stylesheet" th:href="@{/css/mystyle.css}"
              href="../../static/css/mystyle.css" />
        <link rel="stylesheet" th:href="@{/css/contactstyle.css}"
              href="../../static/css/contactstyle.css" />
        <link rel="stylesheet" th:href="@{/css/reset.css}"
              href="../../static/css/reset.css" />
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <div class="allcontain">
        <div class="header">
            <ul class="logreg">
            </ul>
            <ul class="logreg">
                <li><a th:href="@{/home}">MAC 60-611 PROJECT</a></li>
            </ul>
            <ul class="logreg">
                <li><a th:href="@{www.facebook.ca}"><i class="fa fa-facebook"></i></a></li>
                <li><a th:href="@{www.twitter.ca}"><i class="fa fa-twitter"></i></a></li>
                <li><a th:href="@{www.google.ca}"><i class="fa fa-google-plus"></i></a></li>
                <li><a th:href="@{www.pinterest.ca}"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <!--<ul class="logreg">-->
                <!--<li><a th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser != null}">Login</a>-->
                    <!--<a th:href="@{/}" th:if="${#httpServletRequest.remoteUser != null}" th:text="${#httpServletRequest.remoteUser}" class="userName"></a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li><a th:href="@{/login}">Login</a> </li>&ndash;&gt;-->
                <!--<li><a th:href="@{/register}" th:unless="${#httpServletRequest.remoteUser != null}"><span class="register">Register</span></a>-->
                    <!--<a th:href="@{/logout}" th:if="${#httpServletRequest.remoteUser != null}" class="userName">Logout</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- Navbar Up -->
    </div>

    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" th:href="@{/home}">
                    <img th:src="@{/img/logo/quiz.png}" src="/static/img/logo/quiz.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/home}">HOME</a> </li>
                <li class="dropdown">
                    <a th:href="@{/}" class="dropdown-toggle">COURSES<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdowncostume">
                        <li><a th:href="@{/}">C PROGRAMMING</a></li>
                        <li><a th:href="@{/}">UNIX</a></li>
                        <li><a th:href="@{/}">DATABASE SYSTEM</a></li>
                        <li><a th:href="@{/}">ARTIFICIAL INTELLIGENCE</a></li>
                        <li><a th:href="@{/}">SYSTEMS ANALYSIS AND DESIGN</a></li>
                        <li><a th:href="@{/}">NETWORKING</a></li>
                        <li><a th:href="@{/}">DISK OPERATING SYSTEM</a></li>
                        <li><a th:href="@{/}">COMPUTER HARDWARE</a></li>
                    </ul>
                </li>
                <li class="active"><a th:href="@{/}">QUIZZES</a></li>
                <li class="active"><a th:href="@{#about}">ABOUT</a>
                </li>
                <li class="button">
                    <a class="log" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser != null}">
                        Login
                    </a>
                    <a class="log" th:href="@{/}" th:if="${#httpServletRequest.remoteUser != null}"
                       th:text="${#httpServletRequest.remoteUser}">
                    </a>
                </li>
                <li class="button">
                    <a class="log" th:href="@{/register}" th:unless="${#httpServletRequest.remoteUser != null}">Register</a>
                    <a class="log" th:href="@{/logout}" th:if="${#httpServletRequest.remoteUser != null}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>