<<<<<<< HEAD
h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

footer{
    margin-top:60px;
=======
h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

footer{
    margin-top:60px;
>>>>>>> ac6acc2a503deb573e3dad915794cac843df14a7
}