<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Quiz</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>


<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <img th:src="@{img/menworking.jpg}" alt="Lecture 2" style="width:1403px; height:672px;" />
                <div class="carousel-caption">

                    <div th:unless="${#httpServletRequest.remoteUser != null}">
                    <p>No Selected Course, Please Login</p>
                        <a th:href="@{/login}"></a>
                    </div>
                    <div th:if="${#httpServletRequest.remoteUser != null}">
                    <p>Selected Courses: </p>
                    <div th:each="course: ${courses}">
                        <p th:text="@{course.coureName}">
                        <p>Take the quiz!
                            <a th:href="@{/quiz?course_id}">
                        <span class="icon">
                        <img th:src="@{/img/logo/compicon.png}" alt="compicon" />
                        </span>
                            </a>
                        </p>
                    </div>
                    </div>
                    <!--<h2 th:text="${course.course_id}"></h2><br />-->
                    <!--<h3 th:text="${course.courseName}"></h3><br /><br />-->
                    <!--<p th:text="|Term: ${course.term}|"></p><br />-->
                    <!--<p th:text="|Credits: ${course.credits}|"></p><br />-->
                    <!--<p th:text="|Start Time: ${course.startTime}|"></p><br />-->
                    <!--<p th:text="|Day: ${course.day}|"></p><br />-->
                    <!--<p th:text="|Testbook: ${course.textbook}|"></p><br />-->
                    <!--<p th:text="|Reference: ${course.refTextbook}|"></p><br />-->
                    <!--<p>Take the quiz!-->
                        <!--<a th:href="@{/quiz?course_id}">-->
                        <!--<span class="icon">-->
                        <!--<img th:src="@{/img/logo/compicon.png}" alt="compicon" />-->
                        <!--</span>-->
                        <!--</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="fragments/footer :: footer"/>

</body>
</html>