<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Quiz</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>


<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <img th:src="@{img/menworking.jpg}" alt="Lecture 2" style="width:1403px; height:672px;" />
                <div class="carousel-caption">
                    <h2 th:text="|Welcome: ${#httpServletRequest.remoteUser}|"> </h2><br />
                    <h3>Selected Courses: </h3><br />
                    <div th:each="course: ${courses}">
                        <p th:text="${course.courseName}"></p>
                        <p>Take the quiz!
                            <a th:href="@{/quiz(course_id=${course.course_id})}">
                                <span class="icon">
                                <img th:src="@{/img/logo/compicon.png}" alt="compicon" />
                                </span>
                            </a>
                        </p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="fragments/footer :: footer"/>

</body>
</html>