<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Online Quiz Login</title>
    <div th:replace="fragments/header :: header-css"/>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"-->
    <!--href="../../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" th:href="@{/css/reset.css}"
          href="../../css/reset.css"/>
    <link rel="stylesheet" th:href="@{/css/supersized.css}"
          href="../../css/supersized.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../css/style.css"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <video id="myvideo" height="240px" autoplay="autoplay"></video>
            <canvas id="mycanvas" height="240px" ></canvas><hr />

            <input type="text" name="username" id="usnm" placeholder="UserName" autofocus="true"/><br />
            <input id="lgbtn" type="button" title="Face Login" value="Login" onclick="autoLogin();" />
            <input id="startface" type="button" title="Start Login" value="Face Login" onclick="faceLogin();" /><br />
            <form id="loginform" th:action="@{/login}" method="post">
                <fieldset>
                    <h1>Please Sign In</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/supersized.3.2.7.min.js}" src="/static/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" th:src="@{/js/supersized-init.js}" src="/static/js/supersized-init.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}" src="/static/js/scripts.js"></script>
    <script type="text/javascript">
        var fclgusr = document.getElementById('usnm');
        var video = document.querySelector('video');
        var tcanvas = document.getElementById('mycanvas');
        tcanvas.style.display="none";
        var tcontext = tcanvas.getContext('2d');
        var exArray = [];
        document.getElementById("lgbtn").style.display = "none";
        document.getElementById("myvideo").style.display = "none";
        document.getElementById("usnm").style.display="none";
        MediaStreamTrack.getSources(function (sourceInfos) {
            for (var i = 0; i != sourceInfos.length; ++i) {
                var sourceInfo = sourceInfos[i];
                if (sourceInfo.kind === 'video') {
                    exArray.push(sourceInfo.id);
                }
            }
        });
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;

        function faceLogin() {
            getMedia();
            document.getElementById("loginform").style.display="none";
            document.getElementById("lgbtn").style.display="";
            document.getElementById("myvideo").style.display="";
            document.getElementById("usnm").style.display="";
            document.getElementById("startface").style.display="none";
        }
    </script>
    <script type="text/javascript" th:src="@{/js/webcap.js}" src="/static/js/webcap.js"></script>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>