<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="../../css/reset.css"/>
    <link rel="stylesheet" th:href="@{/css/supersized.css}" href="../../css/supersized.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="page-container">
    <h1>Login</h1>
    <form name="form" method="post">
        <input type="text"  name="username" class="username" placeholder="Username"/>
        <input type="password"  name="password" class="password" placeholder="Password"/>
        <button type="submit">Login</button>
        <div class="error"><span>+</span></div>
    </form>
</div>
    <!-- Javascript -->
    <script src="../../js/jquery-1.8.2.min.js"></script>
    <script src="../../js/supersized.3.2.7.min.js"></script>
    <script src="../../js/supersized-init.js"></script>
    <script src="../../js/scripts.js"></script>



</body>
</html>