<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Quiz</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="quizcontainer">
        <div class="infobox">
            <div class="videobox">
            </div>
            <div class="timer1">

            </div>
            <div class="timer2">
                <li class="timer2" type="button">Time left = <span id="timer"></span></li>
            </div>
            <div class="studentinfo">
                <p>name:</p>
            </div>
        </div>
        <div class="quizbox">

            <button> Start Quiz </button>
            <br /><br /><br />
            <form action="@{/quiz}" th:action="@{/quiz}" method="post">
                <div class="resultItem" th:each="question:${questions}">
                    <span th:text="|${question.question_id}.${question.content}|"></span>
                    <input type="radio" th:value="${qusetion.optiona}" name="answer1" /><p th:text="${qusetion.optiona}"></p>
                    <input type="radio" th:value="${qusetion.optionb}" name="answer1" /><p th:text="${qusetion.optionb}"></p>
                    <input type="radio" th:value="${qusetion.optionc}" name="answer1" /><p th:text="${qusetion.optionc}"></p>
                    <input type="radio" th:value="${qusetion.optiond}" name="answer1" /><p th:text="${qusetion.optiond}"></p>
                </div>
                <br /><br />
                <button type="button" id="submitBtn"> Submit Answers</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>

<script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    document.getElementById('timer').innerHTML =
        10 + ":" + 00;
    startTimer();

    function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if(s==59){m=m-1};
        if(m<0){
            alert('Time Out');
            window.location.href="login.html?backurl="+window.location.href;
        };

        document.getElementById('timer').innerHTML =
            m + ":" + s;
        setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
        if (sec < 0) {sec = "59"};
        return sec;
    };
    /*]]>*/
</script>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $("submitBtn").click(function() {
        var questionCount = 1; // 问题数量，应从后台返回数据中获取，此处暂时写死为3
        var obj = {};
        for (var i = 1; i < (questionCount + 1); i++) {
            var val = $("input:radio[name='answer" + i + "']:checked").val();
            if (val) {
                obj[i] = val;
            }
        }

        if(questionCount > Object.getOwnPropertyNames(obj).length) {
            alert("PLEASE FINISH ALL QUETIONS AND SUBMIT");
            return;
        }

        // 以下为将所选答案展示至页面，正常情况下应进行网络请求
        // html 在循环中可拼成任意形式
        var html = "";

        for (var key in obj) {
            html += "题目" + key + " 答案:" + obj[key] + "<br>";
        }
        $("#display").html(html);

    });
    /*]]>*/
</script>

</html>