<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"-->
    <!--href="../../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" th:href="@{/css/reset.css}"
          href="../../css/reset.css"/>
    <link rel="stylesheet" th:href="@{/css/supersized.css}"
          href="../../css/supersized.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../css/style.css"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <input type="button" title="Start Login" value="open camera" onclick="getMedia();" /><br />
            <video height="240px" autoplay="autoplay"></video><br />
            <canvas id="canvas1" height="240px" ></canvas><br />
            <input type="button" title="photo" value="photo" onclick="getPhoto();" />
            <input type="button" title="try" value="try" onclick="submitForm('tabtu');" /><hr />

            <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
                图片<input type="file" name="file"/>
                <input type="submit" value="上传"/>
            </form>

            <form th:action="@{/login}" method="post">
                <fieldset>
                    <h1>Please Sign In</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/supersized.3.2.7.min.js}" src="/static/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" th:src="@{/js/supersized-init.js}" src="/static/js/supersized-init.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}" src="/static/js/scripts.js"></script>
    <script type="text/javascript">
        var video = document.querySelector('video');
        var canvas1 = document.getElementById('canvas1');
        var context1 = canvas1.getContext('2d');

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;

        var exArray = [];  // device id
        MediaStreamTrack.getSources(function (sourceInfos) {
            for (var i = 0; i != sourceInfos.length; ++i) {
                var sourceInfo = sourceInfos[i];  // Sound Source
                if (sourceInfo.kind === 'video') {
                    exArray.push(sourceInfo.id);
                }
            }
        });
    </script>
    <script type="text/javascript" th:src="@{/js/webcap.js}" src="/static/js/webcap.js"></script>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>