<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <input type="button" title="Open Camera" value="open camera" onclick="getMedia();" /><br />
            <video height="240px" autoplay="autoplay"></video><hr />
            <input type="button" title="Take Photo" value="take photo" onclick="getPhoto();" /><br />
            <input type="button" title="try" value="try" onclick="submitForm();" /><br />
            <canvas id="canvas1" height="240px" ></canvas><hr />
            <input type="button" title="Get Video" value="get video" onclick="getVedio();" /><br />
            <canvas id="canvas2" height="120px"></canvas>

            <script type="text/javascript">
                var video = document.querySelector('video');
                var canvas1 = document.getElementById('canvas1');
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
                window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
            </script>
            <script type="text/javascript" th:src="@{/js/webcap.js}" src="/static/js/webcap.js"></script>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>